{% extends "gravity/main_template.j2" %}
{% block content %}

  <!-- Masthead -->
  <header class="masthead">
    <div class="container h-100">
      <div class="row h-100 align-items-center justify-content-center text-center">
        <div class="col-lg-10 align-self-end">
          <h1 class="text-uppercase text-white font-weight-bold">Contributors</h1>
          <hr class="divider my-4">
        </div>
        <div class="col-lg-8 align-self-baseline">
          <p class="text-white-75 font-weight-light mb-5">
            Interested in helping us build Gravity?<br>
            Join the Slack channel and introduce yourself.
          </p>
          <p class="text-white-75 font-weight-light mb-5">The Gravity Server was inspired and designed by <a href="https://www.linkedin.com/in/pfarrell85/" target="_blank">Patrick Farrell</a> from Creative Collisions Technology.  The goal is to give humanity a full-stack web framework that is easier to understand than the other open source frameworks out there.</p>
          <p class="text-white-75 font-weight-light mb-5">As you may know, it can be difficult to dive into an open source framework and the documentation and complexity of the code is often significant. Gravity is designed with this in mind, providing an educational element for how to learn to develop and work with the framework.</p>
        </div>
      </div>
    </div>
  </header>

  <!-- About Section -->
  <section class="page-section" id="contact">
    <div class="container">

      <div class="row justify-content-center">
        <div class="col-lg-8 text-center">
          <h2 class="mt-0">Contributors</h2>
        </div>
      </div>

  </section>
  <div class="container">
    <div class="row">
      <!-- Team Member 1 -->
      <div class="col">
        <div class="card border-0 shadow">
          <a href="https://www.linkedin.com/in/pfarrell85" target="_blank">
          <img src="../img/contributors/patrick.png" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Patrick Farrell</h5>
            <div class="card-text text-black-50">New York City / World Traveler</div>
          </div>
          </a>
        </div>
      </div>
      <!-- Team Member 2 -->
      <div class="col">
        <div class="card border-0 shadow">
          <img src="../img/contributors/ian.jpeg" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Ian</h5>
            <div class="card-text text-black-50">Reno/Costa Rica</div>
          </div>
        </div>
      </div>

      <!-- Team Memeber 3 -->
      <div class="col">
        <div class="card border-0 shadow">
          <img src="/img/logo/gravity_logo_white_background.jpg" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title mb-0">You Could Be Next</h5>
            <div class="card-text text-black-50">?</div>
          </div>
        </div>
      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

{% endblock %}
